/* loading */
.loader {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.loader .font_loads {
    font-family: 'arial';
    font-size: .8em;
}

.bullets {
    animation: dots 2s steps(3, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: #000;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 #000,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 #000,
            .5em 0 0 #000;
    }
}

/* =================== */
/* btn-loading */
@keyframes stretch {
    0% {
        transform: scale(0.5);
        background-color: #B5DDF0;
    }

    50% {
        background-color: #CFE9F6;
    }

    100% {
        transform: scale(1);
        background-color: #FFFFFF;
    }
}

.btn-loader {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    height: 100%;
}

.btn-loader.btn-loader--loading {
    font-size: 0;
}

.btn-loader.btn-loader--loading span {
    display: flex;
}

.btn-loader.btn-loader--loading span b {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: stretch;
    animation-play-state: running;
    animation-timing-function: ease-out;
    border-radius: 100%;
    display: block;
    height: 10px;
    margin: 0 1px;
    width: 10px;
    animation-delay: 0.1s;
    margin: 0 5px;
}

.btn-loader.btn-loader--loading span b:first-child {
    animation-delay: 0s;
    margin: 0;
}

.btn-loader.btn-loader--loading span b:last-child {
    animation-delay: 0.2s;
    margin: 0;
}

.btn-loader b {
    font-weight: normal;
}

.btn-loader span {
    display: none;
}