.note-btn i {
    font-size: .8rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.mr-2 {
    margin-right: 1rem !important;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.l-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.color-white {
    color: #fff;
}

.id-hide {
    transition: all 2s linear;
    opacity: 0;
    display: none;
}

.id-show {
    transition: all 2s linear;
    display: block;
}

.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast-header button.close {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    display: none;
}